ion-card-content {
  padding: 0px;
  margin: 8px;
}

ion-card-content img {
  height: 150px;
  width: 100px;
  object-fit: contain;
}

#container-library-empty {
  text-align: center;

  position: relative;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  font-family: 'SourceSans3-Regular';
}

#container-library-empty strong {
  font-size: 20px;
  line-height: 26px;
}

#container-library-empty p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#library-icon {
  zoom: 4.0;
}

#slide-remove-icon {
  zoom: 2.25;
}

ion-card-title {
  margin-bottom: 8px;
}

.no-bg {
  background: none !important;
}
