<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Find books online</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Find books online</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <div id="container">
    <div><img id="app-icon" src="../../assets/icons/icon-144x144.png" alt="app icon" /></div>
    <h1 id="main-title">LibraLink - Explore & Collect Books</h1>

    <div *ngIf="online$ | async; else offline">
      <ion-input type="text" placeholder="Enter book name" [(ngModel)]="bookSearchString"></ion-input> <!-- [required] -->
      <ion-input type="text" placeholder="Enter author's name" [(ngModel)]="authorSearchString"></ion-input>
      <ion-button (click)="performSearch(bookSearchString, authorSearchString)">Search books</ion-button>&nbsp;
      <ion-button color="light" (click)="openSearchOptionsModal()"><ion-icon name="settings-outline"></ion-icon></ion-button>

      <div *ngIf="isLoading">
        <br />
        <ion-spinner></ion-spinner>
      </div>

      <div *ngIf="booksResultArray.length > 0">
        <h4>{{ booksResultArray[0].totalItems }} books were found</h4>

        <ion-list>
          <div *ngFor="let topLevelItem of booksResultArray">
            <div *ngFor="let bookItem of topLevelItem.items">

              <ion-item detail="true" [routerLink]="['detail', bookItem.id]" (click)="sendData(bookItem.id)">
                <ion-label>
                  <strong>{{ bookItem.volumeInfo.title }}</strong>
                  <p>Author: {{ bookItem.volumeInfo.authors }}</p>
                  <p>Published: {{ bookItem.volumeInfo.publishedDate }}</p>
                </ion-label>
              </ion-item>

            </div>
          </div>
        </ion-list>

      </div>
    </div>

    <ng-template #offline>
      <div>
        <h5>Searching requires an active Internet connection.</h5>
        <p>Your device is currently offline.</p>
      </div>
    </ng-template>

  </div>

</ion-content>