<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About this app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About this app</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div>
      <div><img id="app-icon" src="../../assets/icons/icon-192x192.png" alt="app icon" /></div>
      <h1>LibraLink - Explore &amp; Collect Books</h1>
      <br />
      <h4>Created using Ionic Framework with Angular, <br />powered by Google Books API.</h4>
      <br />
      <strong><a target="_blank" href="https://github.com/petrmarak/gbooks">View source code on GitHub</a></strong>
      <br /><br />
      <p>A school project made for Mobile application programming subject at FAI TBU in Zlin.</p>
      <p>&copy; 2024, Petr Mařák</p>
    </div>
  </div>

</ion-content>
