#container {
    text-align: center;
    margin: 20px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'SourceSans3-Regular';
}

#container a {
    text-decoration: none;
}

#app-icon {
    margin-top: 20px;
    border-radius: 10%;

    width: 125px;
    height: 125px;
}
